:root {
    --main-color: rgb(198, 33, 26);
    --main-color-dark: rgb(146, 17, 6);
    --main-color-light: rgb(228, 48, 48);
    --main-color-subtle: rgb(226, 92, 87);
}

.bg-main-color {
    background-color: var(--main-color);
}

.bg-main-color-subtle {
    background-color: var(--main-color-subtle);
}

.bg-main-color-dark {
    background-color: var(--main-color-dark);
}

.bg-main-color-light {
    background-color: var(--main-color-light);
}

.main-color {
    color: var(--main-color);
}

.spinning {
    animation-name: spin;
    animation-timing-function: linear;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes spin {

    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }

}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100lvh;
}