<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meryl - Variants</title>

    {% include "components/dependencies.html" %}

</head>

<body class="bg-body-tertiary">
    {% include "components/navbar.html" with context %}

    <div class="container-fluid row h-100">
        <div class="px-0" style="max-width: 14em;">
            {% include "components/sidebar.html" with context %}
        </div>
        <div class="col"></div>
    </div>
</body>

</html>